<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <intAttribute key="M2_COLORS" value="0"/>
    <booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
    <stringAttribute key="M2_GOALS" value="clean install -U -DskipTests"/>
    <booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
    <booleanAttribute key="M2_OFFLINE" value="false"/>
    <stringAttribute key="M2_PROFILES" value="pom.xml"/>
    <listAttribute key="M2_PROPERTIES"/>
    <stringAttribute key="M2_RUNTIME" value="EMBEDDED"/>
    <booleanAttribute key="M2_SKIP_TESTS" value="true"/>
    <intAttribute key="M2_THREADS" value="4"/>
    <booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
    <stringAttribute key="M2_USER_SETTINGS" value=""/>
    <booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DB_HOST" value="0"/>
        <mapEntry key="DB_IDLE-TIMEOUT" value="0"/>
        <mapEntry key="DB_MAXLIFETIME" value="0"/>
        <mapEntry key="DB_DATABASE" value="0"/>
        <mapEntry key="DB_PASSWORD" value="0"/>
        <mapEntry key="DB_PORT" value="0"/>
        <mapEntry key="DB_USER" value="0"/>
        <mapEntry key="EXPIRED_DATA" value="0"/>
        <mapEntry key="PROMETHEUS_REGION" value="0"/>
        <mapEntry key="REDIS_CONNECTION" value="0"/>
        <mapEntry key="REDIS_HOST" value="0"/>
        <mapEntry key="REDIS_PASSWORD" value="0"/>
        <mapEntry key="REDIS_PORT" value="0"/>
        <mapEntry key="REDIS_SSL" value="0"/>
        <mapEntry key="REDIS_SYNC" value="0"/>
        <mapEntry key="REDIS_TIMEOUT" value="0"/>
        <mapEntry key="REDIS_USERNAME" value="0"/>
        <mapEntry key="REMOTE_WRITE_URL" value="0"/>
        <mapEntry key="SECRET-KEY" value="0"/>
        <mapEntry key="SECURITY_PASSWORD" value="0"/>
        <mapEntry key="SERVER_PORT" value="0"/>
        <mapEntry key="SWAGGER_ENABLE" value="0"/>
        <mapEntry key="SWAGGER_URL" value="0"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${project_loc:ShortURL}"/>
</launchConfiguration>
