<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ShortURL/src/main/java/com/tom/service/shortener/ShortURLApplication.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DB_HOST" value="0"/>
        <mapEntry key="DB_IDLE-TIMEOUT" value="0"/>
        <mapEntry key="DB_MAXLIFETIME" value="0"/>
        <mapEntry key="DB_DATABASE" value="0"/>
        <mapEntry key="DB_PASSWORD" value="0"/>
        <mapEntry key="DB_PORT" value="0"/>
        <mapEntry key="DB_USER" value="0"/>
        <mapEntry key="EXPIRED_DATA" value="0"/>
        <mapEntry key="PROMETHEUS_REGION" value="0"/>
        <mapEntry key="REDIS_CONNECTION" value="0"/>
        <mapEntry key="REDIS_HOST" value="0"/>
        <mapEntry key="REDIS_PASSWORD" value="0"/>
        <mapEntry key="REDIS_PORT" value="0"/>
        <mapEntry key="REDIS_SSL" value="0"/>
        <mapEntry key="REDIS_SYNC" value="0"/>
        <mapEntry key="REDIS_TIMEOUT" value="0"/>
        <mapEntry key="REDIS_USERNAME" value="0"/>
        <mapEntry key="REMOTE_WRITE_URL" value="0"/>
        <mapEntry key="SECRET-KEY" value="0"/>
        <mapEntry key="SECURITY_PASSWORD" value="0"/>
        <mapEntry key="SERVER_PORT" value="0"/>
        <mapEntry key="SWAGGER_ENABLE" value="0"/>
        <mapEntry key="SWAGGER_URL" value="0"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenClassPathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tom.service.shortener.ShortURLApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ShortURL"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenSourcePathProvider"/>
    <stringAttribute key="process_factory_id" value="org.springframework.ide.eclipse.boot.launch.process.BootProcessFactory"/>
    <booleanAttribute key="spring.boot.ansi.console" value="true"/>
    <stringAttribute key="spring.boot.app.properties" value=""/>
    <booleanAttribute key="spring.boot.auto-connect" value="true"/>
    <booleanAttribute key="spring.boot.dash.hidden" value="false"/>
    <booleanAttribute key="spring.boot.debug.enable" value="false"/>
    <booleanAttribute key="spring.boot.fast.startup" value="true"/>
    <booleanAttribute key="spring.boot.jmx.enable" value="true"/>
    <booleanAttribute key="spring.boot.lifecycle.enable" value="true"/>
    <stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
    <booleanAttribute key="spring.boot.livebean.enable" value="false"/>
    <stringAttribute key="spring.boot.livebean.port" value="0"/>
    <stringAttribute key="spring.boot.profile" value=""/>
</launchConfiguration>
